
.cornericon {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #333333;
    opacity: 0.5;
    font-size: 25px;
}

.menuname {
    width: 90%;
    max-width: 90%;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #333333;
    font-weight: bold;
}

.tileholder {
    border: 0px; 
    padding: 10px; 
    text-align: right;
}

.maintile {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    background: #f5f5f5;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.maintilered {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    background: #e8bece;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.maintileyellow {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    background: #e8e8be;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.maintilegreen {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    background: #bee8d5;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.maintileorange {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    background: #e8dfbe;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.maintilepurple {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    background: #debee8;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.maintilepink {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    background: #eddfec;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.maintileblue {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    background: #d3e1e7;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.headerbox {
    background: #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
}